.container{
   
    margin: auto;
    width: 608px;
}
.output{
    border: 2px solid purple;
    font-size: 2.5rem;
    text-align: right;
    color: white;
    background-color: rgb(27, 27, 27);
    height: 3rem;
}
input[type=text]{
    
    width: 99%;
    
       
}

.btnsContainer{
    width: 100%;
    background-color:  rgb(27, 27, 27);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5px;
    row-gap: 5px;
    margin-top: 10px;
}

.btn{
    padding: 25px;
    font-size: 2.5rem;
}